# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
    #parameter_name: value

services:
    #service_name:
    #    class: AppBundle\Directory\ClassName
    #    arguments: ['@another_service_name', 'plain_value', '%parameter_name%']

    admin.product:
      class: StoreBundle\Admin\ProductAdmin
      arguments: [~, StoreBundle\Entity\Product, ~]
      tags:
          - name: sonata.admin
            manager_type: orm
            group: "Store"
            label: "Product"

    admin.product_has_category:
      class: StoreBundle\Admin\ProductHasCategoryAdmin
      arguments: [~, StoreBundle\Entity\ProductHasCategory, ~]
      tags:
          - name: sonata.admin
            manager_type: orm
            group: "Store"
            label: "Product Categories"

    # admin.category:
    #   class: AppBundle\Admin\CategoryAdmin
    #   arguments: [~, AppBundle\Entity\Classification\Category, ~]
    #   tags:
    #       - name: sonata.admin
    #         manager_type: orm
    #         group: "Store"
    #         label: "Product Categories"
