{% extends 'SonataAdminBundle:CRUD:base_show_field.html.twig' %}
{% block field %}
	{% for phc in object.productHasCategories %}
		<div>{{ phc.category.name|title }}</div>
	{% endfor %}
{% endblock %}